{% extends "base_generic.html" %}.

{% block navbar %}
<nav class="navbar-text p-0 d-flex justify-content-between">
    <!-- TITULO DE LA SECCION -->
    <h1 class="ml-3">{{ title }}</h1>
    <!-- CONTENEDOR DEL PERFIL -->
    <div class="containerProfile">
        <!-- IMAGEN DE PERFIL -->
        <img src="/estilos/img/jefe-2.png" alt="" class="profileImage">
        <!-- BOTON PARA DESLIZAR OPCIONES -->
        <button class="profileOptions" onclick="menuUsuario()">
            Usuario
            <img src="/estilos/img/flecha.png" alt="" class="arrow">
        </button>
    </div>
</nav>
{% endblock %}