<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
    </head>
    <body>
        {% block navbar %} {% endblock %}
        {% block content %} {% endblock %}
    </body>
</html>
